<div>
<div class="element-bg-img"><img src={{selectedItem?.img?.lg}} alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li
        *ngFor="let type of data.types"
        [style.backgroundColor]="type.key === selectedType ? 'green' : 'transparent'"
        (click)="setType(type.key)"
      >
        <a href="#">{{type.label}}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
     <span class="line"> </span>
       <div class="activity_box">
        <div class="scrollbar" id="style-2">
           <div class="activity-row" *ngFor="let item of store" (click)="setSelected(item)">
             <div class="activity-desc">
              <h5>Title</h5>
              <p>{{item.title}}</p>
              <h6>Tel:{{item.phone}}</h6>
             </div>
             <div class="activity-img">
               <ul>
                 <li *ngFor="let img of item.img.sm">
                   <img src={{img}}  alt=""/>
                 </li>
              </ul>
              </div>
              <div class="clear"> </div>
            </div>
          </div>
        </div>
   </div>
</div>
</div>
